/* MEDIA QUERY FOR 1200PX SCREEN WIDTH */

@media (max-width: 75em) {

  body {
    max-width: 120rem;
  }
}

/* MEDIA QUERY FOR 910PX SCREEN WIDTH */

@media (max-width: 56.875em) {
  header h1 {
    font-size: 6.8rem;
  }
}

/* MEDIA QUERY FOR 865PX SCREEN WIDTH */
@media (max-width:54.0625em) {
  html {
    font-size: 56.25%;
  }
}

/* MEDIA QUERY FOR 770PX SCREEN WIDTH */
@media (max-width:48.125em) {
  header h1 {
    font-size: 5.8rem;
  }

  .pub--copy {
    gap: 5.2rem;
  }

  .pub--copy h3 {
    justify-self: end;
  }
}

/* MEDIA QUERY FOR 700PX SCREEN WIDTH */
@media (max-width:43.75em) {}