/*
/////////////////////////////////////
toast message copied to clipboard
/////////////////////////////////////
*/

.mobile-view {

  height: 8rem;
  width: auto;
  background-color: red;
}

.mobile-view img {
  height: 5.2rem;
  width: 5.2rem;
}